/* Ekran boyutuna göre düzenlemeler */
@media screen and (min-width: 854px) {

    /* Middle doc */
    .middledoc {
        width: 100%;
        float: left;
        height: auto;
        z-index: 998;
        position: relative;

        border-radius: 20px;
        color: grey;
        padding: 7px 40px;
        transition: all 250ms;
        border: 0;
        user-select: none;
        opacity: 100%;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

}

/* Ekran boyutuna göre düzenlemeler */
@media only screen and (max-width: 854px) {

    /* Middle doc */
    .middledoc {
        width: 100%;
        float: left;
        height: auto;
        z-index: 998;
        position: relative;

        border-radius: 20px;
        color: grey;
        padding: 7px 40px;
        transition: all 250ms;
        border: 0;
        user-select: none;
        opacity: 100%;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

}
