.slider {
    width: 1300px;
    overflow: hidden;
    border-radius: 1rem;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.slide-container {
    position: relative;
    width: 1300px;
    height: 700px;
}

.slider-text {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 130px;
    width: 100%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.slide-text {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 25%;
    left: 50%;
    height: 100px;
    width: 80%;
    transform: translateX(-50%);
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(04px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}




/*
 * Component
 */

.div {
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div img {
    max-width: 500px;
    max-height: 500px;
    background-repeat: no-repeat;
}

.document {
    float: left;
    width: 70%;
    height: auto;
    display: flex;
    /*align-items: center; kullanarak içerikleri dikey eksende ortalayın.*/
    justify-content: center;
    /*justify-content: center; kullanarak içerikleri yatay eksende ortalayın.*/
    align-items: center;
    padding: 10% 0%;
}
