@media only screen and (min-width: 1024px) {

    body {
        font-size: 10px;
    }

    p,
    dl {
        font-size: 16px;
    }

    h1 {
        font-size: 27px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 21px;
        font-style: italic;
    }

    h4 {
        font-size: 16px;
        font-weight: 300;
    }

    h5 {
        font-size: 10px;
        font-weight: 200;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    body {
        font-size: 19px;
    }

    p,
    dl {
        font-size: 20px;
    }

    h1 {
        font-size: 37px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 30px;
        font-style: italic;
    }

    h4 {
        font-size: 26px;
        font-weight: 300;
    }

    h5 {
        font-size: 20px;
        font-weight: 200;
    }
}


@media only screen and (max-width: 768px) {


    body {
        font-size: 19px;
    }

    p,
    dl {
        font-size: 20px;
    }

    h1 {
        font-size: 37px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 30px;
        font-style: italic;
    }

    h4 {
        font-size: 26px;
        font-weight: 300;
    }

    h5 {
        font-size: 20px;
        font-weight: 200;
        margin-inline: 100px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", Arial, serif;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

p,
dl {
    color: #555;
    margin-bottom: 10px;
    padding: 10px 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px 15px;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

svg,
video {
    max-width: 100%;
    display: block;
}

video[autoplay]:not([muted]) {
    display: none;
}

nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 85px;
    padding: 0% 15%;
}

nav a {
    width: 25%;
    height: 100%;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 11px 11px;
    text-decoration: none;
    cursor: pointer;
}

nav a span {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    color: rgb(157, 35, 35);
    padding: 14px 20px;
    display: block;
    border-radius: 20px;
}

main {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
    gap: 20px;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    article {
        display: block;
        text-align: left;
        width: 100%;
        margin-bottom: 40px;
        padding: 0px 25px;
    }

    figure {
        display: block;
        text-align: left;
        width: 100%;
        margin-bottom: 40px;
    }

    section {
        display: block;
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
        padding: 0px 25px;
    }
}

@media only screen and (max-width: 768px) {
    article {
        display: block;
        text-align: left;
        width: 100%;
        margin-bottom: 40px;
        padding: 0px;
    }

    figure {
        display: block;
        text-align: left;
        width: 100%;
        margin-bottom: 40px;
    }

    section {
        display: block;
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
        padding: 0px;
    }
}

section>span {
    display: inline-flex;
    flex-grow: 1;
}

.sidedoc span {
    color: #1eafed;
    padding: 14px 0;
    border-radius: 0;
    border: 0;
}

.button {
    display: block;
    flex: 1 1 100%;
    color: white;
    text-align: left;
    padding: 7px 10px;
    margin: 20px 0;
    text-decoration: none;
}

.button a {
    text-decoration: none;
    padding: 7px 0;

}

.button a :hover {
    border-bottom: 2px solid #1eafed;
}

span {
    color: #000000;
    padding: 14px 20px;
    margin: 6px 4px;
    font-size: 11px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

a {
    text-decoration: none;
    padding: 7px 10px;
}

i {
    color: #7cd1f5;
    line-height: 1vw;
    text-align: center;
    font-size: 37px;
    margin-left: 10%;
    padding: 0;
    border: none;
}

legend {
    font-size: 18px;
}

textarea {
    resize: none;
}

textarea::placeholder {
    font-family: 'Poppins', sans-serif;
}


.newsletter {
    margin-bottom: 20px;
    border-radius: 4px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://themewagon.github.io/andrea/images/bg_1.jpg');
    background-size: 100% 100%;
    background-position: center;
    color: white;
    text-align: left;
    padding: 20px;
}
